

.ringWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(20%);

  scale: 2.5;
}

ringWrapper svg {
  display: block;
}

.ringContent {
  position: absolute;
  inset: 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.ringContent button,
.ringContent input {
  pointer-events: auto;
  transform: translateY(25%);
  box-shadow: var(--neuUpShadowSmallScaled);
}

.ringContent input {
  outline: none;
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg);
}

.ringContent button {
  background-color: var(--accent);
  border: none;
  border-radius: 1000px;
  color: var(--textContrast);
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;

}

.playPauseBtn {
  background-color: var(--accent);
  color: var(--textContrast);
  border: none;
  border-radius: 1000px;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 30px;
  transform: translateY(250%);
  box-shadow: var(--neuUpShadowSmall);
}

