#eventBlock {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  padding: 30px;
}

#eventBlock h2 {
  height: 20%;
  padding: 0;
  margin: 0;
}

.eventContainer {
  display: flex;
  width: 100%;
  height:100%;
  background-color: (--bg);
  border-radius: 32px;
  box-shadow: var(--neuDownShadowSmall);
  align-items: center;
  gap: 32px;
  overflow-x: scroll;
  scrollbar-width: 10px;
  scrollbar-color: var(--accent) transparent;
  z-index: 499;
}

.eventContainer::before,
.eventContainer::after {
  content: "";
}

.eventContainer::-webkit-scrollbar {
  height: 6px;
}

.eventContainer::-webkit-scrollbar-track {
  background: transparent;
}

.eventContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 50);
  border-radius: 999px;
}

.eventContainer::-webkit-scrollbar:hover {
  height: 6px;
}


.eventWrapper {
  width: 100%;
  height: 80%;
  border-radius: 32px;
  overflow: hidden;
  z-index: 498;
}

.eventButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 32px;
  box-shadow: var(--neuUpShadowSmall);
  background-color: var(--bg);
  flex-shrink: 0;
  z-index: 500;
}

.eventButton:active {
  box-shadow: var(--neuDownShadowSmall);
}

#addButton {
  margin-right: 32px;
}

.addPopupOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay);
  right: 25%;
  bottom: 25%;
  transform: translateX(25%) translateY(25%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease;
}

.addPopup {
  width: 700px;
  height: 500px;
  background-color: var(--bg);
  border-radius: var(--neuRadius);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  animation: fadeInUp 0.5s ease;
}


.addPopup button:active {
  box-shadow: var(--neuDownShadowSmall);
}

.selectionButtons {
  margin-top: auto;
  display: flex;
  gap: 50px;
  height: 50px;
  width: 300px;
}

.selectionButton {
  width: 50%;
  border-radius: 100px;
  box-shadow: var(--neuUpShadowSmall);
  border: none;
  background-color: var(--bg);
  border-radius: 10000px;
}


.nameForm {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nameInput {
  height: 50%;
  background-color: var(--bg);
  border: none;
  box-shadow: var(--neuDownShadowExtraSmall);
  border-radius: 12px;
}

.descInput {
  background-color: var(--bg);
  border: none;
  box-shadow: var(--neuDownShadowSmall);
  height: 100px;
  width: 400px;
  border-radius: 32px;
}
