:root {
  color: rgba(0, 0, 0);
  background-color: #F2F4F7;
  --bg: #F2F4F7;
  --overlay: #00000025;

  --textPrimary: #000000;
  --textContrast: #ffffff;
  --textSecondary: #6155F5;
  --textMuted: #6B7280;

  --accent: #6155F5;
  --accentDefocus: #5657D4;
  --accentSecondary: #00C8B3;

  --neuUpShadow: 41px  41px 82px #cecfd2,
                -41px -41px 82px #ffffff;
  --neuUpShadowSmall: 12px  12px 24px #cecfd2,
                     -12px -12px 24px #ffffff;
  --neuUpShadowSmallScaled: 6px  6px 6px #cecfd2,
                           -6px -6px 6px #ffffff;
  --neuDownShadowSmall: inset  12px  12px 20px #cecfd2,
                        inset -12px -12px 20px #ffffff;
  --neuDownShadowSmallScaled: inset  6px  6px 6px #cecfd2,
                              inset -6px -6px 6px #ffffff;
  --neuDownShadow: inset  41px  41px 82px #cecfd2,
                   inset -41px -41px 82px #ffffff;
  --neuDownShadowExtraSmall: inset  10px  10px 16px #cecfd2,
                        inset -10px -10px 16px #ffffff;
  --neuRadius: 50px;
  --glowShadow: 0px 0px 80px #ffffff;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  background-color: var(--bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
